.form-layout {
    height: 100vh;
    background-color: #D8EDFF;
    .container {
        .wrap {
            .form-layout-row {
                padding-top: 300px;
            }
        }
    }
}

@media only screen and (max-width: 450px  ) {
    .minion > img {
        display: none;
    }
    
.form-layout-row {
    padding-top: 80px;
}
}
