.game-card {
    .input-game-card {
        height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    }
    
    .input-game-card:focus {
    box-shadow: inset 0 0 0 1px #2699FB, 0 0 3px 1px #2699FB; // "border" created with a drop shadow plus the focus ring
    outline: none; // disable default focus styles
    }

    .text-center {
        color:#2699FB
    }
}