.content-section {
    .container {
        .row {
            h4{
                color: #2699FB;
                font-size: 2.3rem;
            }
            p{
                color: #2699FB;
                font-size: 1rem
            }
        }
    }
}