.post-card {
    width: 330px;
    height: 380px;
    position: relative;
    border: 1px solid #2699FB;
    margin: 10px;
    .main-img {
        width: 100%;
        height: 200px;
    }
    .icon-card-fb {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
    }
    .icon-card-share {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}