.promotional-card {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 20px;
    background-color: #2699FB;
  }

  .img__img {
      img {
        width: 100%;
        height: 300px;
      }
      h4 {
          position: absolute;
          bottom: 20px;
          right: 110px;
      }
  }

  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
    .icon-card-share {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
    }
    .btn.btn-outline-info {
        position: absolute;
        bottom: 20px;
        right: 27px;
        width: 250px;
    }
    }
  .promotional-card:hover .img__description {
    visibility: visible;
    opacity: 1;
    -ms-transform: scale(1.125); /* IE 9 */
  -webkit-transform: scale(1.125); /* Safari 3-8 */
  transform: scale(1.125); 

}
.promotional-card:hover .img__img {
    visibility: visible;
    opacity: 0;
}