.main-body {
    background-color: #2699FB;
    height: 100vh;
}

img.rounded.mx-auto.d-block.img-mountain {
    padding-top: 189px;
}

.main-body>.container>.content {
    margin-top: 193px;
    padding: 0;
}

.main-body>.footer-main-body {
    background-color: #D8EDFF;
    height: 79px;
    bottom: 0;
}
.main-body>.footer-main-body {
    padding-top: 20px;
}


.container {
    position: relative;
}

.container > .share {
    position: absolute;
    top:590px;
    right: 0;
}

.row>p {
    color: white;
    width: auto;
    padding-top: 10px;
    font-size: 14px;
}

.row > .sub-content {
    font-size: 17px;
    width: 532px;
}

.content > h3 {
    color: white;
    font-size: 45px;
}

@media only screen and (max-width: 385px) {
    .content {
        padding: 0;
        padding-left: 20px;
    }

    .main-body>.footer-main-body {
        background-color: #D8EDFF;
        height: 160px;
        }
   
    img.rounded.mx-auto.d-block.img-mountain {
        padding-top: 57px;
    }
    .row > .sub-content {
        font-size: 15px;
        width: 300px;
    }

    .content>h3{
        font-size: 45px;
        width: 170px;
    }

    .container>.share {
        top: 320px;
        right: 10px;
    }
    .main-body>.container>.content {
        margin-top: 0;
    }
}
