.content-card {
    width: 650px;
    height: 370px;
    position:relative;
    margin: 20px;
    .main-img {
        width: 100%;
        height: 100%;
    }
    .download {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
    }
}

@media only screen and (max-width: 450px  ) {
    .content-card {
        width: 319px;
        height: 184px;
    }
}