footer {
    background-color: #2699FB;
    height: 100vh;
}

.empty {
    height: 143px;
}

hr:not([size])
{
    height:3px;
    background-color: white;
}


@media only screen and (max-width: 385px) {
    .empty {
        display: none;
    }

    .content{
        padding-left: 110px;
        margin-top: 20px;
    }
    .br {
        display: none;
    }
    .content > .row > .col-md-6 {
        width: 150px;
    }
    .ul-list {
        font-size: 13px;
    }
}
